<h1>Enter a year to see if it's a leap year!</h1>
<form action='/index' method='get'>
  <div class="form-group">
    <label for="year">Enter a year</label>
    <input id="year" name="year" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Is it a leap year?</button>
</form>
